
.move-buttons{
  box-sizing: border-box;
  border-radius: 20px;
  transition-duration: 0.75s;
  width: 20%;
  margin: 0 5%;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.undo-arrow{
  padding: 2.5% 2.5% 0 0;
}
.redo-arrow{
  padding: 2.5% 0 0 2.5%;
}

.move-buttons:hover{
  background-color: rgba(192, 190, 190, 0.27);
}