$imgSize: 70px;
$imgBorderRadius: 50%;

.header{
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: 75px;
  min-width: 550px;
}

.header__logo{
  position: absolute;
  left: $imgSize/2.5;
  min-width: $imgSize;
  z-index: 1;
}

.header__logo-img{
  border-radius: $imgBorderRadius;
  width: $imgSize;
  height: $imgSize;
}

.header__search{
  position: absolute;
  left: 100px;
  min-width: 300px ;
  width: 40%;
  z-index: 1;
}

.user-logo{
  min-width: $imgSize;
  position: absolute;
  right: 45px;
  z-index: 1;
}

.user-logo__img{
  border-radius: $imgBorderRadius;
  width: $imgSize;
  height: $imgSize;
}